[submodule "systems/mailweb"]
	path = systems/mailweb
	url = git@github.com:roastrofficial-ctrl/What-if-MailWeb.git
[submodule "systems/gpservers"]
	path = systems/gpservers
	url = git@github.com:roastrofficial-ctrl/What-if-GPS-ervers.git
[submodule "systems/harmonicdb"]
	path = systems/harmonicdb
	url = git@github.com:roastrofficial-ctrl/What-if-HarmonicDB.git
[submodule "systems/passports"]
	path = systems/passports
	url = git@github.com:roastrofficial-ctrl/What-if-Auth-Passports.git
[submodule "systems/lucida"]
	path = systems/lucida
	url = git@github.com:roastrofficial-ctrl/What-if-lucida-img.git
[submodule "systems/porter"]
	path = systems/porter
	url = git@github.com:roastrofficial-ctrl/What-if-Porter.git
